body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px
        /* align-items: center; */
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 20px;
    justify-content: center;
    gap: 420px;
}

ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.hero-left-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px;
    gap: 10px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.hero-signup {
    width: 150px;
    border: none;
    flex: 0 0;
    padding: 10px 28px;
}

.body-title-text {
    font-size: 40px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 140px;
}

.card.image {
    border: 8px solid #3882F6;
    border-radius: 24px;
    width: 160px;
    height: auto;
}

.card {
    display: flex;
    gap: 6px;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    flex: 0 1 160px;
}

.quote.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 140px 0px;
    background-color: #E5E7EB;
}

.quote-text {
    width: 760px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-attribution {
    color: #1F2937;
    font-size: 30px;
    font-weight: bold;
    margin-left: 450px;
}

.signup.container {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 700px;
    padding: 50px 120px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 90px;
}

.signup-header-text {
    font-size: 24px;
    font-weight: bold;
}

.bottom-signup {
    border-style: solid;
    border-color: #F9FAF8;
    padding: 6px 36px;
    font-size: 18px;
    height: fit-content;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px 0px;
}